<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.gt.wide.background.mapper.UserMapper">
	<!-- User findUserByName(String username) -->
	<select id="findUserByName" resultType="com.gt.wide.background.bean.User">
		select * from wide_background_users where name="qin"
	</select>	
</mapper>